<div id="header">
  <div id="logo">
    <a class="light" href="/routes">
      <img src="/so-icon.png" width="80" height="80">JSF<span class="bold">Traffic</span>
    </a>
    <div class="nav mainnavs pull-right">
      <ul class="nav-buttons">
        <li class="active"><a href="/routes/new">New Route</a></li>
        <li><a href="/routes/search">Search Routes</a></li>
      </ul>
    </div>
  </div>
</div>