<nav id="my-id"class="navbar navbar-default" style="margin-bottom: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">JSF Traffic App</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/routes/new">New Route</a></li>
      <li><a href="/routes/index">All routes</a></li> 
      <li><a href="/routes/search">Search Routes</a></li> 

      <% if session[:user_id] %>
        <form class="navbar-form navbar-right" action="/sessions" method="POST"><input name="_method" type="hidden" value="DELETE"><input type="submit" class="btn btn-link" value="Logout"></form>
      <% else %>
        <form class="navbar-form navbar-right" action="sessions/new">
        <button id="login" type="submit" class="btn btn-link">Login</button>
        </form> 
        <form class="navbar-form navbar-right" action="users/new">
        <button id="login" type="submit" class="btn btn-link">Create Account</button>
        </form> 
      <% end %>
    </ul>
  </div>
</nav>