<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">JSF Traffic App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/">New Route</a></li>
      <li><a href="/routes/index">All routes</a></li> 
      <li><a href="/routes/search">Search Routes</a></li> 
      <button id="login" type="button" class="btn btn-default navbar-btn">Login</button>
    </ul>
  </div>
</nav>