<div id="new-route">
  <h1>Please enter your origin and destination</h1>
    <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <input id="origin_street" placeholder="address"></input>
        <input id="origin_city" placeholder="city"></input>
        <input id="origin_state" placeholder="state"></input>
      </div><!-- /input-group -->
    </div><!-- /.col-md-6 -->
    <div class="col-md-6">
      <div class="input-group">
        <input id="destination_street" placeholder="address"></input>
        <input id="destination_city" placeholder="city"></input>
        <input id="destination_state" placeholder="state"></input>
      </div><!-- /input-group -->
    </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
  <button type="button" onclick="get_traffic()">Get traffic time!</button>
</div>

