<h1>Please enter your search params</h1>
<form method="GET" action="/routes/index">

  <input name="origin" type="text" placeholder="origin street city, state"></input>
  <input name="destination" type="text" placeholder="destination street city, state"></input>

  <button type="submit">Search Routes</button>
</form>