<div id="my-picture">
  <% if session[:user_id] %>
    <h2 id="about">Hi <%= @user.first_name %>! Welcome to my Traffic App! This took a lot of time, so you better enjoy it...  :)</h2>
  <% else %>
    <h2 id="about">Welcome to my Traffic App! This took a lot of time, so you better enjoy it...  :)</h2>
  <% end %>
</div>
