<div class="container">
  <% if session[:user_id] %> 
    <form action="/sessions" method="POST"><input name="_method" type="hidden" value="DELETE"><input type="submit" class="btn btn-link" value="Logout"></form>
  <% else %>
    <a href="users/new">register</a>
  <% end %>
</section>
</div>