<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
  </script>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDci-SFGlohnd_fK_pjnkXCSeMaCPPS228&libraries=geometry">
  </script>
</head>
<body>
  <h1>Please enter your origin and destination</h1>
  <input id="origin_city"></input>
  <input id="origin_state"></input>
  <input id="destination_city"></input>
  <input id="destination_state"></input>
  <button type="button" onclick="get_traffic()">Get traffic time!</button>
</body>
<script>


function get_traffic(){
  
  var origin_city = $('#origin_city').val();
  var origin_state = $('#origin_state').val();
  var destination_city = $('#destination_city').val();
  var destination_state = $('#destination_state').val();

  origin_city = origin_city.replace(/ /g,'+');
  origin_state = origin_state.replace(/ /g,'+');
  destination_city = destination_city.replace(/ /g, '+');
  destination_state = destination_state.replace(/ /g, '+');

  var origin = origin_city + ',' + origin_state; 
  var destination = destination_city + ',' + destination_state;


var url = 'https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=Washington,DC&destinations=New+York+City,NY&key=AIzaSyDci-SFGlohnd_fK_pjnkXCSeMaCPPS228';



// var origin1 = new google.maps.LatLng(55.930385, -3.118425);
// var origin2 = 'Greenwich, England';
// var destinationA = 'Stockholm, Sweden';
// var destinationB = new google.maps.LatLng(50.087692, 14.421150);



var service = new google.maps.DistanceMatrixService();
service.getDistanceMatrix(
  {
    origins: [origin1, origin2],
    destinations: [destinationA, destinationB],
    travelMode: 'DRIVING',
    // transitOptions: TransitOptions,
    // drivingOptions: DrivingOptions,
    // unitSystem: UnitSystem,
    // avoidHighways: Boolean,
    // avoidTolls: Boolean,
  }, callback);

function callback(response, status) {
  // See Parsing the Results for
  // the basics of a callback function.

  console.log(response)
}

  ;
  }

</script>